// bower:scss
// endbower

body {
  background: #fafcfa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //color: #333;
    margin: auto;
    width: 800px;
}

.hidden{
    display: none;
}

